<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:400,600,700%7CSource+Code+Pro:300,400,500,600,700,900%7CNothing+You+Could+Do%7CPoppins:400,500">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.7.3/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/notiflix-1.8.0.min.css') }}">
    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">

      <!-- Page Header-->
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap" style="position: absolute">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="#"><h1>It Music</h1></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Inicio</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#programar">Pedir una canción</a>
                      </li>
                     <li class="rd-nav-item"><a title="Ayudar a mejorar este sitio" class="rd-nav-link" target="_blank" href="https://bitbucket.org/osmar_valero/it-music/">Mejorar este sitio</a>
                    </ul>
                  </div>
                </div>
                <div class="rd-navbar-collapse">
                  <ul class="socialite-list">
                    <li><a class="icon novi-icon socialite fa-facebook" href="#"></a></li>
                    <li><a class="icon novi-icon socialite fa-twitter" href="#"></a></li>
                    <li><a class="icon novi-icon socialite fa-bitbucket-square" target="_blank" href="https://bitbucket.org/osmar_valero/it-music/" title="Mejorar este proyecto"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--Swiper-->

      <section id="play_youtube" class="section section-lg bg-default text-center">
        <div class="container">
          <h6 class="text-gray-600">Pide tus canciones favoritas</h6>
          <br>
          <!--Bootstrap tabs-->
          <section id="youtube" style="margin: 0 auto;width: 640px;">
            <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
            <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
            <div id="player"></div>
            <div id="not_progress_bar"></div>
            <script>
            var id = '{{next_videos[0].youtubeId}}';
                var playerOptions = {
                  autoplay: 1,
                  controls: false,
                  height: '360',
                  modestbranding: 0,
                  origin: window.location.origin,
                  rel: 0, // videos relacionados al finalizar el video
                  videoId: id,
                  width: '640',
                  events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange,
                    //'onError': onPlayerError
                  }
              };

              var player;
              function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', playerOptions);

              }

              function onPlayerReady(event) {
                event.target.playVideo();
              }
              var done = false;
              function onPlayerStateChange(event) {
                if(event.data === 0) {
                  player.destroy();
                    next_videos();
                }
              }
              function stopVideo() {
                player.stopVideo();
              }
              function onPlayerError (event) {
                next_videos();
                /*
                switch(event.data) {
                    case 2:
                        //console.log('' + video.id)
                        ga('send', 'event', 'video', 'invalid id',video);
                        break;
                    case 100:
                        ga('send', 'event', 'video', 'not found',video);
                        break;
                    case 101 || 150:
                   'onError': onPlayerError'onError': onPlayerError     ga('send', 'event', 'video', 'not allowed',video);
                        break;
                    };
                    */
            }
            </script>
          </section>
        </div>
      </section>

      <!-- A CONTINUACION  -->
      <section class="section" data-lightgallery="group">
      <h2 class="text-center">A continuación</h2>
        <div class="row no-gutters">
        {% for video in next_videos %}
            {% if loop.index > 1 and video.thumbnails.medium.url is defined %}
            <div class="col-lg-4 col-sm-6">
              <div id="next_{{loop.index}}" class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="{{ video.thumbnails['medium']['url'] }}"><img src="{{ video.thumbnails['medium']['url'] }}" alt="" width="480" height="175"/></a>
                <div class="thumbnail-classic-caption">
                  <h5 class="thumbnail-classic-title">{{loop.index -1}} => {{video.title}}</h5>
                  <time class="thumbnail-classic-time" datetime="2019-09-19">{{(video.duration / 60)|round(1, 'floor')}} Min</time>
                </div>
              </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
      </section>

      <!-- BUSCAR CANCIONES -->
      <section id="programar" class="section section-xl bg-default text-center">
        <div class="container">
          <h6 class="text-gray-600">Toma el control</h6>
          <h2>Busca y programa</h2>
          <div class="row">
            <span class="text-center paste_id_youtube">Pegar url de vídeo de Youtube</span>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre de artista o canción" id="q" name="q">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="btn_search">Buscar</button>
                </div>
              </div>
          </div>
          <div class="list-youtube">
          </div>
        </div>

        <!-- Modal Video Preview -->
        <div class="modal fade" id="preview_video" tabindex="-1" role="dialog" aria-labelledby="previewTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe id="current_preview_video" width="420" height="190" src="https://www.youtube.com/embed/vRBgZ4aMPio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Paste URL -->
        <div class="modal fade" id="paste_url" tabindex="-1" role="dialog" aria-labelledby="pasteUrlTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="input-group mb-3">
                  <input type="text" id="url_video_youtube" class="form-control" placeholder="URL vídeo de Youtube" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_program_by_url">Programar</button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </section>

    <footer class="section footer-classic bg-default">
        <div class="container">
          <div class="row row-15">
            <div class="col-sm-6">
              <p class="rights"><span>It Music</span><span>&nbsp;</span><span>&copy;&nbsp;</span><span class="copyright-year"></span></p>
            </div>
            <div class="col-sm-6">
              <div class="footer-contact"><a href="contacts.html">
                  <div class="icon novi-icon mdi mdi-email-outline"></div>Contact Me</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- SET id programación de Youtube -->
    <input id="id" type="hidden" name="" value="{{next_videos[0].id}}">
    <!-- SET id video de Youtube -->
    <input id="id_vid" type="hidden" name="" value="{{next_videos[0].youtubeId}}">   
    
    <script src="{{ asset('js/core.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/notiflix-1.8.0.min.js') }}"></script>
    
  </body>
</html>
