/*
#player {
    pointer-events: none;
}
*/
section.section-lg:first-of-type{
  padding: 100px 0 60px 0;
}
#btn_search:hover, #btn_program_by_url, .push-video:hover {
  background-color: #585858; 
  border-color: #585856;
  color: white;
  cursor: pointer;
}

.list-search-youtube img {
  cursor: pointer;
}
.push-video {
  bottom: -90px;
  position: relative;
}
.paste_id_youtube {
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
}
.paste_id_youtube:hover {
  color: #585856;
}
.card {
  color: #4c5a86;
}
.list-youtube .card-body {
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 50px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c5a86; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4ac4cf; 
}
.list-search-youtube {
  margin-top: 15px;
}

@media only screen and (min-width: 1024px) {
  .row-player {
    min-height: 394px;
  }
  .list-youtube {
    position: absolute;
    top: 185px;
    right: 10%;
  }
  .list-youtube .card-body {
    height: 336px !important;
  }
  .list-youtube .card-body .next-video:first-child {
    margin-bottom: -20px !important;
  }
  .list-youtube .card-body .next-video:nth-child(n+2) {
    margin-top: 50px !important;
  }
  .list-youtube i:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 1023px) {
  #programar {
    margin-top: -30px;
  }
  #programar .push-video {
    bottom: -10px;
  }
  #play_youtube{
    margin-top: -90px;
  }
  #player {
    height: 200px;
    margin-left: -17px;
    width: 394px;
  }
  .list-youtube .card-header .col-md-8,
  .list-youtube .card-header .col-md-4 {
    width: 50%;
  }
  .list-youtube .card-header .col-md-8 {
    font-size: 12px;
  }
  .list-youtube {
    margin-top: 30px; 
  }
  .list-youtube .card-body {
    height: 520px !important;
  }
  .q_search {
    padding: 7px;
  }
}

